# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
/node_modules
/.pnp
.pnp.js
dist
dist-ssr
*.local

# cache
.swc/
.eslintcache

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TS
*.tsbuildinfo

# Turbo
.turbo

# vercel
.vercel

# env
.env
.env.development
.env.production
